{% macro list(games) %}
    <section>
        {% for game in games %}
            <div class="game">
                <div class="league">
                    {{ game.league }}
                </div>
                <div class="description">{{ game.description }}</div>
                <div class="team {{ game.away.logoClass }}">
                    <a href="/{{ game.away.logoClass }}.html">{{ game.away.nickname }}</a>
                </div>
                <div class="team {{ game.home.logoClass }}">
                    <a href="/{{ game.home.logoClass }}.html">{{ game.home.nickname }}</a>
                </div>
                <div class="gametime">
                    <time class="date" datetime="{{ game.date | toDate | iso }}">
                        {{ game.date | toDate | utcDate }}
                    </time>
                    {% if game.status === 'tbd' %}
                        <div>TBD</div>
                        {% elif game.status === 'complete' %}
                        <div>FINAL</div>
                    {% else %}
                        <time class="time" datetime="{{ game.date | toDate | iso }}">
                            {{ game.date | toDate | utcTime }}
                        </time>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endmacro %}
