<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{league | upper}} schedule</title>
    {% if league !== undefined -%}
        {% set logos = collections[league + 'Logos'] -%}
    {% else %}
        {% set logos = collections.logos -%}
    {% endif %}
    {% for logo in logos -%}
    <link rel="preload" as="image" href="/{{ logo.path }}">
    {% endfor %}
    {% if league !== undefined -%}
        <link rel="stylesheet" type="text/css" href="{{ league | lower }}.css" media="screen"/>
    {% else %}
        {% for league in leagues -%}
            <link rel="stylesheet" type="text/css" href="{{ league | lower }}.css" media="screen"/>
        {% endfor %}
    {% endif %}
    <link rel="stylesheet" type="text/css" href="index.css" media="screen"/>
    <script src="js/timeFormatter.js"></script>
    <script>
      window.addEventListener('DOMContentLoaded', updateDateTimesWithTimezoneContent);
    </script>
</head>
<body>

<main>
    {{ content | safe }}
</main>
</body>
</html>
