<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if sport === 'all' -%}
        <title>{{ title }}</title>
        {% set logos = collections.logos -%}
    {% else %}
        <title>{{ sport | capitalize }} schedule</title>
        {% set logos = collections[sport + 'Logos'] -%}
    {% endif %}
    {% include 'preload-links.html.njk' %}
    <link rel="stylesheet" type="text/css" href="/css/index.css" media="screen"/>
    <style>
        {% include 'team-logo.css.njk' %}
    </style>
    <script src="/js/timeFormatter.js"></script>
    <script>
      window.addEventListener('DOMContentLoaded', updateDateTimesWithTimezoneContent);
    </script>
</head>
<body>

<nav>
    <ul>
        <li>Sports:</li>
        {% for sport in sports %}
            <li>
                {% if sport === 'all' %}
                <a href="/">{{ sport | capitalize}}</a>
                {% else %}
                <a href="/{{ sport }}.html">{{ sport | capitalize}}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% for sport in sports | noAll %}
        {# TODO: move this to a filter #}
        {% set sportTeams = collections.all[0].template.templateData.globalData[sport].teams %}
        <ul>
            <li>{{ sport | capitalize }} teams:</li>
            {% for team in sportTeams %}
                <li>
                    <a href="/{{ team.logoClass }}.html">{{ team.abbreviation }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</nav>
<main>
    {{ content | safe }}
</main>
</body>
</html>
