---
permalink: "{% if sport === 'all' %}index.html{% else %}{{ sport }}.html{% endif %}"
title: Simple Sports Schedules
pagination:
  data: sports
  size: 1
  alias: sport
---
<h1>Upcoming week of games</h1>
{% for date, _games in games | orderByDate | groupByDay %}
    <h2>
        <time datetime="{{ date | toDate | iso }}">
            {{ date | toDate | easternDate }}
        </time>
    </h2>
    {% import 'games.section.html.njk' as section %}
    {{ section.list(_games) }}
{% endfor %}
