---
permalink: index.html
title: Simple Sports Schedules
---
<h1>Upcoming week of games</h1>
{% for date, _games in games | nextWeek | groupByDay %}
    <h2>
        <time datetime="{{ date | toDate | iso }}">
            {{ date | toDate | easternDate }}
        </time>
    </h2>
    {% import 'games.section.html.njk' as section %}
    {{ section.list(_games, true) }}
{% endfor %}
