---
permalink: index.html
---
<h1>Upcoming week of games</h1>
{% for date, _games in games | nextWeek | groupByDay %}
    <h2>
        <time datetime="{{ date | toDate | iso }}">
            {{ date | toDate | easternDate }}
        </time>
    </h2>
    <section>
        {% for game in _games  %}
            <div class="game">
                <div class="league">{{ game.league }}</div>
                <div class="description">{{ game.description }}</div>
                <div class="team {{ game.away.logoClass }}">{{ game.away.nickname }}</div>
                <div class="team {{ game.home.logoClass }}">{{ game.home.nickname }}</div>
                <div class="gametime">
                    <time class="date" datetime="{{ game.date | toDate | iso }}">
                        {{ game.date | toDate | utcDate }}
                    </time>
                    {% if game.status === 'tbd' %}
                        <div>TBD</div>
                        {% elif game.status === 'complete' %}
                        <div>FINAL</div>
                    {% else %}
                        <time class="time" datetime="{{ game.date | toDate | iso }}">
                            {{ game.date | toDate | utcTime }}
                        </time>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endfor %}
