---
pagination:
    data: sports
    size: 1
    alias: sport
    filter: all
permalink: "{{ sport }}.css"
layout: ''
---
{% set teams = collections.all[0].template.templateData.globalData[sport].teams %}
{% for team in teams -%}
.{{ sport }}-{{ team.abbreviation | lower }}:before {
    background-image: url('logos/{{ sport }}/{{ team.abbreviation | lower }}.png');
}
{% endfor %}
