---
pagination:
    data: leagues
    size: 1
    alias: league
permalink: "{{ league }}.css"
layout: ''
---
{% set teams = collections.all[0].template.templateData.globalData[league].teams %}
{% for team in teams -%}
.{{ league }}-{{ team.abbreviation | lower }}:before {
    background-image: url('logos/{{ league }}/{{ league }}-{{ team.abbreviation | lower }}.png');
}
{% endfor %}
