---
pagination:
    data: nba.teams
    size: 1
    alias: team
permalink: "nba/{{ team.abbreviation | lower }}.html"
---
{% set games = collections.all[0].template.templateData.globalData.nba[team.abbreviation.toLowerCase()] %}
<h1>Upcoming games for {{ team.nickname }}</h1>
{% set teams = collections.all[0].template.templateData.globalData.nba.teams %}
<nav>
    <ul>
        <li>Teams:</li>
        {% for team in teams %}
            <li>
                <a href="{{ team.abbreviation | lower}}.html">
                    {{ team.abbreviation | upper }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% import 'games.section.html.njk' as section %}
{{ section.list(games | future) }}
