---
permalink: "{{ team.logoClass }}.html"
title: Simple Sports Schedules
pagination:
  data: teams
  alias: team
  size: 1
---
<h1>Upcoming games for {{ team.nickname }}</h1>

{% import 'games.section.html.njk' as section %}
{{ section.list(games | orderByDate) }}
